<form id="variantForm">
    <div class="mb-3">
        <label for="variantCategory" class="form-label">Category Name</label><br>
        <select required class="form-select" name="variantCategory" id="variantCategory">
            <option value="">Select Category</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="variantProduct" class="form-label">Product Name</label><br>
        <select required class="form-select" name="variantProduct" id="variantProduct">
            <option value="">Select Product</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="variantName" class="form-label">Variant Name</label>
        <input required type="text" class="form-control" name="name" id="variantName" placeholder="Input Variant Name">
    </div>
    <div class="mb-3">
        <label for="variantSlug" class="form-label">Slug</label>
        <input required type="text" class="form-control" name="slug" id="variantSlug" placeholder="Input Variant Slug">
    </div>
    <div class="mb-3">
        <label for="variantPrice" class="form-label">Price</label>
        <input required type="text" class="form-control" name="price" id="variantPrice" placeholder="Input Variant Price">
    </div>
    <div class="mb-3">
        <label for="variantStock" class="form-label">Stock</label>
        <input required type="text" class="form-control" name="stock" id="variantStock" placeholder="Input Variant Stock">
    </div>
    <div class="mb-3">
        <label for="variantDesc">Description</label>
        <textarea class="form-control" name="description" id="variantDesc" placeholder="Input Variant Description"></textarea>
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" name="isDeleted" id="variantIsDeleted">
        <label for="variantIsDeleted">Is Deleted</label>
    </div>
    <button type="submit" class="btn btn-primary" id="formButton" style="float: right;">Save</button>
</form>