#transaction-header {
    background-color: #00A2FF;
    display: flex;
}

#reference-input-div {
    align-content: center;
    margin-left: auto;
    margin-right: 10px;
}

.table > tbody > tr > td, th {
    vertical-align: middle;
}