<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" xmlns:layout="http://www.ultreaq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

<body>
    <section layout:fragment="container">
        <div class="container mt-3">
            <h1 th:text="${title}"></h1>

            <div id="transaction-header">
                <div class="transaction-buttons">
                    <button disabled id="newOrderBtn" type="button" class="btn btn-warning ms-2 my-3" onclick="openOrderModal()">
                        New Order
                    </button>
                    <button disabled id="paymentBtn" type="button" class="btn btn-success ms-2 my-3" onclick="openPaymentForm()">
                        Payment
                    </button>
                    <button id="newTransactionBtn" type="button" class="btn btn-light ms-2 my-3" onclick="newTransaction()">
                        New Transaction
                    </button>
                </div>
                <div id="reference-input-div">
                    <input id="reference-input" type="text" class="form-control" readonly>
                </div>
            </div>
            
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col" style="text-align: center;">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col" class="col-2">Price</th>
                        <th scope="col" class="col-2">Quantity</th>
                        <th scope="col" class="col-2">Total</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="transactionTable" class="table-group-divider">
                    <tr id="totalRow" class="table-group-divider">
                        <td colspan="3"><strong>Total</strong></td>
                        <td><input style="text-align: center;" type="text" class="form-control" readonly></td>
                        <td><input style="text-align: center;" type="text" class="form-control" readonly></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="myModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
    
                        </div>
                    </div>
                </div>
            </div>

            <script src="js/transaction.js"></script>
    </section>

</body>

</html>