<form id="successForm">
    <div class="mb-3">
        <label for="reference">Reference</label>
        <input disabled readonly type="text" class="form-control" name="reference" id="successReference" placeholder="Reference">
    </div>
    <div class="mb-3">
        <label for="bill">Bill</label>
        <input disabled type="text" class="form-control" name="bill" id="successBill" placeholder="Bill">
    </div>
    <div class="mb-3">
        <label for="payment">Payment</label>
        <input disabled type="text" class="form-control" name="payment" id="successPayment" placeholder="Payment">
    </div>
    <div class="mb-3">
        <label for="change">Change</label>
        <input disabled type="text" class="form-control" name="change" id="successChange" placeholder="Change">
    </div>
    <button type="submit" class="btn btn-primary" id="successFormButton" style="float: right;">OK</button>
</form>