<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" xmlns:layout="http://www.ultreaq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

<body>
    <section layout:fragment="container">
        <h1 th:text="${title}" class="mt-3"></h1><br>

        <h4>Navigate To:</h4>
        <ul style="font-size: larger;">
            <li>Master:</li>
            <ul>
                <li><a href="/category">Category</a></li>
                <li><a href="/product">Product</a></li>
                <li><a href="/variant">Variant</a></li>
            </ul>
            <li><a href="/transaction">Transaction</a></li>
        </ul>
    </section>
</body>

</html>